*{
  font-family: "Figtree";
}
body{
  background-color: hsl(47, 88%, 63%);
}


.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  width: 370px;
  display: block;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 0 black;
  border: 1px solid black;
}
.container img.main{
  width: 100%;
  border-radius: 20px;
}
.container .span{
  background-color: hsl(47, 88%, 63%);
  font-weight: 600;
  width: fit-content;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}
.container .paraghraph-2{
  font-size: 14px;
  color:  hsl(0, 0%, 7%);
  font-weight: 500;
}
.container h3{
  font-size: 24px;
  width: fit-content;
}

.container h3:hover{
  cursor: pointer;
  color: hsl(47, 88%, 63%);
  transition: all ease .1s;
}
.container .second-container{
  display: flex;
  align-items: center;
}
.container .second-container img{
  width: 40px;
}
.container .second-container p{
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
}
.container .last-para{
  color: hsl(0, 0%, 42%);
  line-height: 1.5;
}


@media(max-width:420px){
  .container{
    width: 280px;
  }
  .container h3{
    font-size: 20px;
  }
  .container .last-para{
    font-size: 14px;
  }
}